html {
  background: burlywood;
  background-size: cover;
  /* font-family: 'Righteous', cursive; */
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'Hammersmith One', sans-serif; */
  /* font-family: 'Monoton', cursive; */
}

.heading {
  padding: 20px;
  /* text-align: center; */
}

.headingbox {
  display: flex;
  background-color: blanchedalmond;
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px; 
  margin: 10px;
  /* width: 80%; */
  height: 60px; 
  box-shadow: 5px 10px;
  /* text-align: center; */
}

.border {
  margin: 20px;
}

.drumButton {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}