html {
  background: burlywood;
  background-size: cover;
  /* font-family: 'Righteous', cursive; */
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'Hammersmith One', sans-serif; */
  /* font-family: 'Monoton', cursive; */
}

.heading {
  padding: 20px;
  /* text-align: center; */
}

.headingbox {
  display: flex;
  background-color: blanchedalmond;
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px; 
  margin: 10px;
  /* width: 80%; */
  height: 60px; 
  /* text-shadow: 2px 2px 5px black; */
  box-shadow: 5px 10px;
  /* text-align: center; */
}

.border {
  margin: 20px;
}

.drumButton {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
